{% load i18n %}
<html>
<head>
	<title>Garlic -- {{title}}</title>
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
{% block js %}{% endblock %}
	<style>
	@import "static/garlic.css";
	</style>
	<link href='//fonts.googleapis.com/css?family=Rokkitt:700' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
</head>
<body>
<div class="header">
<a href="https://github.com/davidmoreno/garlic" target="_github_">
<img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub">
</a>
<div class="fotd">{{fotd}}<a href="http://www.coralbits.com" target="_coralbits_">{% trans "By Coralbits" %}</a></div>
<h1><a href="/">{% trans "Garlic testing" %}</a></h1>
<h2>{% trans "Bad for bugs, good for health." %}</h2>
</div>
<div class="wrapper">
	<div class="content">{% block content %}Fill with your content{% endblock %}</div>

	<div class="push"></div>
</div>
<div class="footer">
<div class="shade"></div>
(C) 2013 by <a href="http://www.coralbits.com/" target="_coralbits_">Coralbits S.L.</a>.
</div>
</body>
</html>
