{% extends "base.html" %}
{% load i18n %}
{% block js %}
	<script src="static/garlic.js"></script>
{% endblock %}
{% block content %}
<div class="leftpanel">

<h1>{{title}}</h1>

{% if test_name %}
<h2>{% trans "Executed test:" %} {{test_name}}</h2>
{% endif %}

{% for env in envs %}
<b>{{env.env}}</b> <input type="text" class="envvar" name="{{env.env}}" placeholder="{{env.value}}">
{% endfor %}

{% for test in tests %}
<form method="post">
	<input type="hidden" name="test" value="{{test.id}}">
	<input type="submit" name="run" value="{{test.name}}">
	{% for env in envs %}
	<input type="hidden" name="{{env.env}}">
	{% endfor %}
</form>
{% endfor %}

<h2><a id="reload" href="javascript:reload_results()">{% trans "Reload" %}</a></h2>
</div>

<div class="centralpanel">
<a href="/logout" id="logout">{% trans "Logout" %}</a>
<h2>{% trans "Latest executions" %}</h2>

<ul id="results">
</ul>

</div>

{% endblock %}
