{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="leftpanel">

<form method="post">
<input type="hidden" name="test" value="1">
<input type="submit" name="run" value="Run">
</form>

<h1>{{title}}</h1>

{% if test_name %}
<h2>{% trans "Executed test:" %} {{test_name}}</h2>
{% endif %}

<h2><a id="reload" href="javascript:reload_results()">{% trans "Reload" %}</a></h2>
</div>

<div class="centralpanel">
<a href="/logout" id="logout">{% trans "Logout" %}</a>
<h2>{% trans "Latest executions" %}</h2>

<ul id="results">
</ul>

</div>

<script>
var okicon=$("<span class='icon'>😎</span>");
var runningicon=$("<span class='icon'>♨</span>");
var erroricon=$("<span class='icon'>⛈</span>");

reload_results = function(){
	var pollingd=false;
	$.get('/results', function(data){
		running=false;
		var ul=$('#results')
		ul.html('')
		var lis=[]
		for (var k in data){
			var li=$('<li>')

			//var a=$('<a>').attr('href','/result/'+k)
			var a=$('<a>').attr('href','#'+k).click(function(id){ return function(){ showResult(id) } }(k))

			if (data[k].result==0)
				a.append(okicon.clone()).addClass("ok");
			else if (data[k].running){
				a.append(runningicon.clone()).addClass("running");
				running=true;
			}
			else
				a.append(erroricon.clone()).addClass("error");

			a.append(data[k].name)
			a.append('<br/>' + (new Date(Number(data[k].timestamp)*1000)) + '<br>Result: ' + data[k].result)
			
			li.append(a)
			
			li.attr('timestamp',data[k].timestamp)
			
			lis.push(li)
		}
		
		lis=lis.sort(function(a,b){ 
			return a.attr('timestamp') < b.attr('timestamp') ? 1 : -1
			})
		ul.append(lis)
		
		if (running){
			$('[name=run]').attr('disabled','disabled').attr('value','{% trans "Running..." %}')
		}
		else{
			$('[name=run]').removeAttr('disabled').attr('value','{% trans "Run" %}')
		}
		
		if (running && !pollingd)
			pollingd=setTimeout(reload_results, 1000);
		if (!running && pollingd){
			clearInterval(pollingd)
			pollingd=false;
		}
	},'json')
}

hideResult = function(){
	$('#overwindow').remove()
}

showResult = function(id){
	hideResult()
	var ow=$('<div id="overwindow">').append( $('<div id="background">').click(hideResult) )
	var out=$('<div id="output">')
	ow.append(out)
	$('body').append(ow)
	out.append( $('<a>').attr('href','/result/'+id).text('{% trans "Get RAW" %}') )
	
	$.get('/result/'+id,function(data){
		var out=$('#output').append('<pre>'+data+'</pre>')
	},'text')
}

$(document).ready(function(){
	reload_results();
	$('#reload').focus()
})
</script>

{% endblock %}
